body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #00A542;
    text-decoration: none;
}

a:hover {
    color: #00A542;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #00A542;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #00A542;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

#header {
    transition: all 0.5s;
    z-index: 997;
}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
}

#header.header-scrolled,
#header.header-inner-pages {
    background: #003030;
    padding: 0px 0;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 15px;
    padding: 0 4px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -31px;
    left: 0;
    background-color: #00A542;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    transform: translateX(-42%);
    top: calc(100% + 30px);
    margin: 0.75rem 0;
    padding: 25px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
    transition: 0.3s;
    width: calc(100% + 1056px);
}

.navbar .tech ul {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%);
    width: calc(100% + 1048px);
}

.dropdown-content {
    padding: .25rem 2rem;
    margin: auto;
    width: calc(100%);
}

.dropdown-content .dd-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.dd-title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #707070;
    padding-bottom: 1rem;
    margin-bottom: 1rem !important;
}

.heading h4 {
    font-size: 20px;
    font-weight: bold;
}

.dropdown-content .dd-content .col-md-8 .col {
    margin: .5rem 0;
}

.dropdown-content h1,
.dropdown-content h2,
.dropdown-content h3,
.dropdown-content h4,
.dropdown-content h5,
.dropdown-content h6 {
    margin-bottom: 0rem;
}

.dropdown-content .dd-content .col-md-4 .col {
    background: #f0f0f1;
    margin: 0 0.7rem;
    margin-top: -1rem;
    padding: 1rem;
}

.dropdown-content .dd-content .col-md-4 .col .btn-get-started {
    display: flex;
    align-items: center;
    margin: 1rem auto;
}

.dropdown-content .dd-content .col-md-4 .col p {
    color: #00A542;
    font-family: 'Open Sans', sans-serif;
}

.dropdown-content .col-md-5 {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.mr-1 {
    margin-right: 5px;
}

.navbar .dropdown ul a {
    padding: 7px 5px;
    font-size: 14px;
    text-transform: none;
    color: #000000;
    width: 100%;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #00A542;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 124%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(45, 37, 38, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    border-radius: 1rem;
    width: 95%;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #493c3e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #e43c5c;
}

.navbar-mobile .getstarted {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #e43c5c;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

#hero h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 24px;
}

#hero .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
}

section .btn-get-started:hover {
    background: #00A542;
    border: 2px solid #18d26e;
}

li .btn-get-started,
.connections .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 16px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid transparent;
    color: #fff;
    background: #00A542;
    box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.1);
}

li .btn-get-started::before {
    display: none;
}

li .btn-get-started:hover {
    padding: 9px 16px;
}

li .btn-get-started:hover,
.connections .btn-get-started:hover {
    background: transparent;
    border: 2px solid #fff;
}

#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px 9px 30px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #00A542;
    font-weight: 600;
}

#hero .btn-get-started:hover {
    background: #00A542;
    border: 2px solid #00A542;
}

#hero .btn-1 {
    background: white;
    color: #00A542;
    font-weight: 600;
}

#hero .btn-2 {
    background: #00A542;
    color: #fff;
    border: 2px solid transparent;
}

#hero .btn-1:hover,
#hero .btn-2:hover {
    background: transparent;
    border: 2px solid white;
    color: #fff;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h3 {
        font-size: 22px;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: 150vh;
    }
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: white;
}

.section-title {
    padding-bottom: 15px;
}

.section-title h2 {
    font-size: 1.12rem;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 0px;
    padding-bottom: 0px;
    line-height: 1;
    margin: 0;
    color: #00A542;
    display: block;
    text-transform: uppercase;
    border-radius: 50px;
}

.section-title h3 {
    margin: 15px 0 0 0;
    font-size: 28px;
    font-weight: 700;
}

p {
    margin: 15px auto 0 auto;
    font-weight: 500;
    line-height: 35px;
}

.service .col {
    padding: 0rem;
    margin: 0rem;
    width: calc(25%);
}

@media (min-width: 1024px) {
    .section-title p {
        width: 50%;
    }
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .right {
    width: 46%;
    margin: auto;
}

.about .right img {
    width: 100%;
}

.services {
    padding-bottom: 30px;
}

.services .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.box {
    border-radius: 1rem;
    width: 350px;
    height: 344px;
}

.box .left {
    position: relative;
    width: 100%;
    height: 100%;
}

.left-img,
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.outer {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, .2));
}

.inner {
    display: inline-block;
    color: red;
    margin: 10px;
    filter: url(#round);
}

.shape-outer {
    display: flex;
    flex-shrink: 0;
    height: calc(200px + 4vw);
    width: calc(170px + 4vw);
    background: white;
    position: relative;
    transition: .3s;
}

.icons {
    width: 45px;
    height: 45px;
    margin-bottom: .5rem;
}

.shape-inner {
    width: 100%;
    margin: auto;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    padding: 1.75rem 1rem 0rem 1rem;
    transition: .5s ease;
}

.shape-inner h4 {
    text-transform: uppercase;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.shape-inner p {
    font-size: 14px;
    line-height: 26px;
    margin-top: 0rem;
}

.trapezoid {
    -webkit-clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
    border-radius: 1rem;
}

p.small {
    font-size: .8rem;
    text-align: right;
    color: #00A542;
    background: transparent;
}

.one {
    -webkit-clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
    border-radius: 1rem;
}

.shape-outer:hover,
.shape-inner:hover,
.shape-inner:hover .icons {
    background: #00A542;
    color: white;
    fill: white;
    cursor: pointer;
}

.shape-inner:hover .small {
    color: #fff;
}


/* Stats */

.stats {
    background: url(../img/contactu.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 60px;
}

.stat-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    line-height: 45px;
}

.stat-1 h3 {
    display: flex;
    line-height: 45px;
    color: #00A542;
}

.stats .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px 9px 30px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid transparent;
    background: #00A542;
    color: #fff;
    font-weight: 600;
    margin: 3rem 0;
    box-shadow: 0px 3px 55px rgba(0, 0, 0, 0.5);
}

.stats .btn-get-started:hover {
    background: transparent;
    border: 2px solid #00A542;
    color: #00A542;
}

#tabs {
    color: #111;
}

#tabs h6.section-title {
    color: #111;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #00A542!important;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid #00A542 !important;
    font-size: 20px;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #111;
    font-size: 1rem;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0;
    flex-wrap: wrap;
    width: 100%;
}

.techno {
    margin: 1rem;
    padding: 1rem;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.techno img {
    width: 60px;
    height: 60px;
    margin: 1rem;
}

.spectrum {
    background: #F1FDFE;
    padding: 80px 0;
}

.spectrum .section-title {
    margin-bottom: 1rem;
}

.spect-services {
    background: url(../images/businessman.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 40px 0;
    padding-left: 0rem;
    margin-left: -2.5rem;
    background-size: contain;
}

.spect-services .slide {
    background: #003030;
    padding: 1rem;
    margin: 0rem .5rem;
    color: white;
    border-radius: 1rem;
}

.spect-services .slide img {
    margin: 1rem 0rem;
    margin-bottom: 1rem;
}

.spect-services p {
    line-height: 25px;
}

.spect-services .learn {
    color: #00A542;
    text-align: right;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.connections {
    background: #111;
    color: #fff;
}

.connections .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.connections .col-md-4:nth-child(3) {
    text-align: center;
}

.connections .col-md-4:nth-child(2) {
    padding: 0 3rem;
    padding-right: 0;
    border-left: 1px solid white;
    justify-content: center;
    font-size: .9rem;
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features {
    padding-top: 20px;
}

.features .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: ease-in-out 0.3s;
    box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
}

.features .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
}

.features .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
}

.features .icon-box h3 a {
    color: #493c3e;
    transition: ease-in-out 0.3s;
}

.features .icon-box:hover a {
    color: #e43c5c;
}


/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/

.cta {
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cta-bg.jpg") center center;
    background-size: cover;
    padding: 60px 0;
}

.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #fff;
}

.cta .cta-btn {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.cta .cta-btn:hover {
    background: #e43c5c;
    border: 2px solid #e43c5c;
}

@media (min-width: 1024px) {
    .cta {
        background-attachment: fixed;
    }
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 7px 17px 9px 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    background: #ede9e9;
    border-radius: 50px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: #e43c5c;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.portfolio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: #e43c5c;
    padding: 15px 20px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.portfolio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #f7c2cc;
}

.portfolio .portfolio-item .portfolio-info .details-link {
    right: 15px;
}

.portfolio .portfolio-item:hover img {
    top: -30px;
}

.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
}


/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #e43c5c;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #e43c5c;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(73, 60, 62, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}


/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

.pricing .box {
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 2px solid #f9f9f9;
}

.pricing .box h3 {
    font-weight: 400;
    padding: 15px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #493c3e;
}

.pricing .box h4 {
    font-size: 42px;
    color: #e43c5c;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.pricing .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.pricing .box ul {
    padding: 0;
    list-style: none;
    color: #493c3e;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.pricing .box ul li {
    padding-bottom: 16px;
}

.pricing .box ul i {
    color: #e43c5c;
    font-size: 18px;
    padding-right: 4px;
}

.pricing .box ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .box .btn-wrap {
    padding: 15px;
    text-align: center;
}

.pricing .box .btn-buy {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    border: 2px solid #e43c5c;
    color: #e43c5c;
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.pricing .box .btn-buy:hover {
    background: #e43c5c;
    color: #fff;
}

.pricing .recommended {
    border-color: #e43c5c;
}

.pricing .recommended .btn-buy {
    background: #e43c5c;
    color: #fff;
}

.pricing .recommended .btn-buy:hover {
    background: #d91e42;
    border-color: #d91e42;
}

.pricing .recommended-badge {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 13px;
    padding: 3px 25px 6px 25px;
    background: #fce6ea;
    color: #e43c5c;
    border-radius: 50px;
}


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/

.faq {
    padding: 60px 0;
}

.faq .faq-list {
    padding: 0;
    list-style: none;
}

.faq .faq-list li {
    border-bottom: 1px solid #f1eeef;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.faq .faq-list .question {
    display: block;
    position: relative;
    font-family: #e43c5c;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    color: #d01d3f;
    transition: 0.3s;
}

.faq .faq-list i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list .collapsed {
    color: black;
}

.faq .faq-list .collapsed:hover {
    color: #e43c5c;
}

.faq .faq-list .collapsed .icon-show {
    display: inline-block;
    transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
    display: none;
    transition: 0.6s;
}

@media (min-width: 1280px) {
    .faq .container {
        padding: 0 120px;
    }
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team {
    background: #fff;
    padding: 60px 0;
}

.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    height: auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: ease-in-out 0.3s;
    background: rgba(0, 165, 66, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.team .member .social a {
    transition: 0.3s;
    color: #fff;
    background: #00A542;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 0px 3px 55px rgba(0, 0, 0, .2);
}

.team .member .social a i {
    margin: 0rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team .member .social i {
    font-size: 16px;
    margin: 0 2px;
}

.team .member .member-info {
    padding: 15px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    background: #00A542;
    color: #fff;
    width: 100%;
    transition: 0.3s;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
}

.team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
}

.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

.team .member:hover .social,
.team .member:hover .member-info {
    opacity: 1;
    cursor: pointer !important;
}

.news {
    background: url(../images/pattern-5.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.news .section-title {
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.news .row {
    box-shadow: 0px 3px 55px rgba(0, 0, 0, 0.1);
}

.news .col-md-3,
.news .col-md-6,
.news .col-md-4 {
    padding: 2rem 1rem;
    background: #F8F8F8;
    margin: 0rem;
}

.news .col-md-4:nth-child(1),
.news .col-md-4:nth-child(5):hover {
    background: #003030;
    color: white;
    transition: .3s;
}

.news .small {
    text-transform: uppercase;
}

.news .col-md-4:nth-child(1) .small {
    color: white;
}

.news .col-md-4:nth-child(1):hover,
.news .col-md-4:nth-child(5) {
    background: #00A542;
    color: #fff;
    transition: .3s;
}

.news .img {
    padding: 0rem;
}

.news .big-img {
    width: 100%;
}

.testimonials {
    background: url(../images/testimonial.png);
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.testimonials .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials .section-title {
    text-align: center;
}

.testimonials .col-md-4 {
    width: calc(30%);
}

.testimonial-1 {
    background: #1A5858;
    padding: 1rem 1.2rem;
    height: auto;
    border-radius: 54px 0;
    text-align: left;
    margin: 1rem;
    position: relative;
    color: white;
    font-size: 1rem;
}

.testimonial-1 .lines {
    width: 60px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0;
}

.testimonial-1 .lines .darkline {
    width: 15px;
    height: 7vh;
    background: #00A542;
}

.testimonial-1 .desc {
    position: absolute;
    left: 50%;
    transform: translate(-60%);
}

.client {
    padding: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}

.clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.clients .row {
    width: 100%;
}

.clients .row .col {
    width: 100%;
    height: 150px;
    padding: 1rem;
    position: relative;
}

.clients .row .col img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contactus {
    height: auto;
    position: relative;
}

.contact0 {
    background: url(../images/contactus.png);
    background-size: cover;
    height: 118vh;
    color: #fff;
    padding: 1rem 2rem;
}

.contact0 h3 {
    font-size: 20px;
    font-weight: bold;
}

.contact0 p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: #F9F9F9;
}

.contact0 .left {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 1rem 1rem 0rem;
}

.contact0 .left .desc {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 55%;
    padding: 1rem 0;
    margin: 1rem;
}

.contactus form {
    background: #fff;
    color: #000;
    padding: 2rem;
    width: 500px;
    border-radius: 1rem;
    box-shadow: 0px 3px 25px #00000029;
    text-align: left;
    position: absolute;
    top: 5%;
    right: 2%;
}

.contactus .form-group {
    margin-bottom: 1rem;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.medias {
    margin: 1rem;
}

.medias a {
    text-decoration: none;
    color: #fff;
}

.medias .row p {
    display: flex;
    align-items: center;
    justify-content: start;
}

.fa-linkedin-in,
.fa-facebook-f,
.fa-twitter {
    border: 1px solid;
    padding: .5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 6px;
}

.form-group .row {
    width: 100%;
}

.form-group label {
    font-size: 14px;
}

.fa-linkedin-in::before,
.fa-facebook-f::before,
.fa-twitter::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.note {
    margin: 1rem;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    color: #444444;
    font-size: 14px;
    background: #ebebeb;
    padding: 30px 0;
}

#footer .footer-top {
    padding: 30px 0 30px 0;
    padding-top: 10px;
}

#footer h2 {
    color: #000;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

#footer ul a {
    color: #111;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    font-weight: 600;
}

#footer ul a:hover {
    text-decoration: none;
    color: #00A542;
}

.footer-bottom .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom .col-md-4 {
    text-align: center;
}

.footer-bottom .col-md-4 p {
    margin: 0rem;
}

.footer-bottom .col-md-4 img {
    width: 80%;
    margin: 0;
    margin-left: -8rem;
}

.footer-bottom .fa-facebook-f,
.footer-bottom .fa-twitter,
.footer-bottom .fa-instagram,
.footer-bottom .fa-telegram-plane,
.footer-bottom .fa-youtube {
    padding: 1rem;
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid;
    margin: 0;
    border-radius: 50%;
    cursor: pointer !important;
}

.footer-bottom .fa-facebook-f::before,
.footer-bottom .fa-twitter::before,
.footer-bottom .fa-instagram::before,
.footer-bottom .fa-telegram-plane::before,
.footer-bottom .fa-youtube::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-bottom .fa-facebook-f:hover {
    background: #4267B2;
    color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.footer-bottom .fa-twitter:hover {
    background: #1DA1F2;
    color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.footer-bottom .fa-youtube:hover {
    background: #ff0000;
    color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.footer-bottom .fa-telegram-plane:hover {
    background: #0088cc;
    color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.footer-bottom .fa-instagram:hover {
    background: #8a3ab9;
    color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1000px) {
    section {
        padding: 30px 0;
    }
    #header .logo {
        width: 200px;
    }
    .navbar-mobile a {
        padding: 10px 20px;
        font-size: 15px;
        color: #493c3e;
        transition: .3s;
    }
    .navbar-mobile a:hover {
        padding: 10px 20px;
        color: #00A542 !important;
    }
    .dropdown-content {
        width: auto;
        padding: 2rem;
    }
    .navbar .dropdown ul {
        left: 0;
        transform: inherit;
        margin: auto;
        width: 90%;
    }
    .navbar .dropdown ul li a:hover {
        color: #00A542;
    }
    .navbar li:last-child {
        margin: 0.5rem 1rem;
    }
    .navbar .btn-get-started {
        color: white;
        width: fit-content;
        display: block;
    }
    .navbar .btn-get-started:hover {
        width: fit-content;
        display: block;
    }
    .dropdown {
        overflow-x: hidden;
    }
    .dropdown-content li:last-child {
        margin: 0rem;
    }
    .navbar-mobile .dropdown ul a {
        padding: 10px 0px;
    }
    .col-md-8 .row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .right img {
        display: none;
    }
    .inner {
        margin: auto;
    }
    .shape-outer {
        display: flex;
        flex-shrink: 0;
        height: calc(300px + 3vw);
        width: calc(300px + 3vw);
        margin: 1rem auto;
        background: white;
        position: relative;
        transition: .3s;
    }
    .shape-inner {
        width: calc(280px + 3vw);
        height: calc(280px + 3vw);
        padding: 2rem .5rem;
    }
    .stats {
        height: auto;
        padding: 40px 0px;
    }
    .stat-1 {
        margin: 1rem auto;
    }
    #tabs .nav-tabs {
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }
    #tabs .nav-tabs .nav-item {
        width: 100%;
    }
    #tabs .nav-tabs .nav-link {
        min-width: fit-content;
    }
    .techno {
        margin: 0rem;
        padding: 0rem;
        width: 100px;
        height: 150px;
        text-align: center;
    }
    .spect-services .col-lg-9 {
        width: auto;
        margin: 0rem;
        padding: 0rem;
        border: 1px solid white;
    }
    .spect-services {
        margin: 0rem;
        background: transparent;
    }
    .spect-services .col-lg-3 {
        margin: 0rem;
    }
    .connections .col-md-4:nth-child(2) {
        margin: 0 .1rem !important;
        padding: 0 1rem;
        margin-bottom: 1rem !important;
    }
    .connections .col-md-4:nth-child(3) {
        text-align: left;
    }
    .testimonials {
        height: auto;
        padding: 5rem 1rem;
    }
    .testimonial-1 {
        margin: 5rem auto;
        padding: 2rem 1rem;
    }
    .clients .row {
        flex-direction: column;
    }
    .clients .row .col {
        width: 100%;
        height: 150px;
        padding: 1rem;
        position: relative;
        margin: 1rem auto;
    }
    .contact0 {
        padding: inherit;
        height: auto;
    }
    .contactus form {
        position: inherit;
        margin: auto;
        width: auto;
        padding: 1rem;
    }
    .contact0 .left .desc {
        flex-direction: column;
        width: 100%;
        margin: 1rem auto;
    }
    .contact0 .medias .col-md-4 {
        margin: .5rem 0;
    }
    .contact0 .right {
        margin: 1rem;
    }
    .footer-bottom .col-md-4 img {
        margin: auto;
    }
    .tech .dropdown-content {
        padding: 1rem;
    }
    .tech .col-md-3 {
        margin: 1rem 0 2rem 0;
    }
    .tech .col-md-3 .big {
        width: 100%;
    }
}


/* nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: transparent;
    font-family: 'Poppins', sa;
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center !important;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;
    margin-bottom: 0rem;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 15px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.nav-links li a:hover {
    color: #00A542;
    border-bottom: 2px solid #00A542;
    transition: all 0.3 ease;
}

.btn-get-quote {
    padding: 9px 16px;
    background: #00A542 !important;
    color: #fff;
    width: 25%;
    height: 52%;
    border-radius: 2rem;
    text-align: center;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #242526;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 320px;
    opacity: 0;
    visibility: hidden;
}

.drop-services {
    opacity: 1;
    visibility: visible;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 320px;
    opacity: 1;
    visibility: visible;
}

.mega-box .content {
    background: #f1f2f3;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    color: black;
}

.mega-box .content .content-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row .bullet-icons {
    width: 12px;
}

.content .row .section-title {
    color: #111;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.content .row .section-title h2 {
    color: black;
}

.content .row .mega-links {
    margin-left: -25px;
    margin-bottom: 1rem;
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    color: #111;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row .mega-links li a:hover {
    color: #121212;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

li .btn-get-quote {
    padding: 9px 16px !important;
}

@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }
    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #242526;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        background: #242526;
    }
     ::-webkit-scrollbar-thumb {
        background: #3A3B3C;
    }
    #menu-btn:checked~.nav-links {
        left: 0%;
    }
    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }
    #close-btn:checked~.btn.menu-btn {
        display: block;
    }
    .nav-links li {
        margin: 15px 10px;
    }
    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }
    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }
    .nav-links .desktop-item {
        display: none;
    }
    .nav-links .mobile-item {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover {
        background: #3A3B3C;
    }
    .drop-menu li {
        margin: 0;
    }
    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }
    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }
    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }
    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }
    .row .mega-links li {
        margin: 0;
    }
    .content .row header {
        font-size: 19px;
    }
}

nav input {
    display: none;
}

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.body-text div {
    font-size: 45px;
    font-weight: 600;
} */